VITE_MP_PUBLIC_KEY=REEMPLAZAR_POR_MERCADOPAGO_PUBLIC_KEY_:P
VITE_API_URL=REEMPLAZAR_POR_URL_DE_LA_API_:P
VITE_TUNNEL_HOST=ACA_SE_PUEDE_PONER_UN_TUNNEL_COMO_NGROK_O_CLOUDFLARE_PARA_DESARROLLO_LOCAL_SINO_PUEDE_QUEDAR_VACIO_:P
